*filter
:ufw-user-input - [0:0]
:ufw-user-output - [0:0]
:ufw-user-forward - [0:0]
:ufw-before-logging-input - [0:0]
:ufw-before-logging-output - [0:0]
:ufw-before-logging-forward - [0:0]
:ufw-user-logging-input - [0:0]
:ufw-user-logging-output - [0:0]
:ufw-user-logging-forward - [0:0]
:ufw-after-logging-input - [0:0]
:ufw-after-logging-output - [0:0]
:ufw-after-logging-forward - [0:0]
:ufw-logging-deny - [0:0]
:ufw-logging-allow - [0:0]
:ufw-user-limit - [0:0]
:ufw-user-limit-accept - [0:0]
### RULES ###

### tuple ### allow tcp {{ssh_port}} 0.0.0.0/0 any {{permitted_network}} in
-A ufw-user-input -p tcp --dport {{ssh_port}} -s {{permitted_network}} -j ACCEPT

### tuple ### allow tcp {{nginx_port}} 0.0.0.0/0 any {{permitted_network}} in
-A ufw-user-input -p tcp --dport {{nginx_port}} -s {{permitted_network}} -j ACCEPT

### tuple ### allow tcp {{ssl_port}} 0.0.0.0/0 any {{permitted_network}} in
-A ufw-user-input -p tcp --dport {{ssl_port}} -s {{permitted_network}} -j ACCEPT

### tuple ### allow tcp {{rsyslog_port}} 0.0.0.0/0 any {{permitted_network}} in
-A ufw-user-input -p tcp --dport {{rsyslog_port}} -s {{permitted_network}} -j ACCEPT

### tuple ### allow tcp 4505 0.0.0.0/0 any {{permitted_network}} in
-A ufw-user-input -p tcp --dport 4505 -s {{permitted_network}} -j ACCEPT

### tuple ### allow tcp 4506 0.0.0.0/0 any {{permitted_network}} in
-A ufw-user-input -p tcp --dport 4506 -s {{permitted_network}} -j ACCEPT

### tuple ### allow tcp {{kibana_port}} 0.0.0.0/0 any 127.0.0.1 in
-A ufw-user-input -p tcp --dport {{kibana_port}} -s 127.0.0.1 -j ACCEPT

### tuple ### allow tcp {{elasticsearch_port}} 0.0.0.0/0 any 127.0.0.1 in
-A ufw-user-input -p tcp --dport {{elasticsearch_port}} -s 127.0.0.1 -j ACCEPT

### tuple ### allow tcp 9300 0.0.0.0/0 any 127.0.0.1 in
-A ufw-user-input -p tcp --dport 9300 -s 127.0.0.1 -j ACCEPT

### tuple ### allow tcp {{relp_port}} 0.0.0.0/0 any {{permitted_network}} in
-A ufw-user-input -p tcp --dport {{relp_port}} -s {{permitted_network}} -j ACCEPT

### END RULES ###

### LOGGING ###
-A ufw-after-logging-input -j LOG --log-prefix "[UFW BLOCK] " -m limit --limit 3/min --limit-burst 10
-A ufw-after-logging-output -j LOG --log-prefix "[UFW ALLOW] " -m limit --limit 3/min --limit-burst 10
-A ufw-after-logging-forward -j LOG --log-prefix "[UFW BLOCK] " -m limit --limit 3/min --limit-burst 10
-A ufw-logging-deny -m conntrack --ctstate INVALID -j LOG --log-prefix "[UFW AUDIT INVALID] " -m limit --limit 3/min --limit-burst 10
-A ufw-logging-deny -j LOG --log-prefix "[UFW BLOCK] " -m limit --limit 3/min --limit-burst 10
-A ufw-logging-allow -j LOG --log-prefix "[UFW ALLOW] " -m limit --limit 3/min --limit-burst 10
-I ufw-before-logging-input -j LOG --log-prefix "[UFW AUDIT] " -m conntrack --ctstate NEW -m limit --limit 3/min --limit-burst 10
-I ufw-before-logging-output -j LOG --log-prefix "[UFW AUDIT] " -m conntrack --ctstate NEW -m limit --limit 3/min --limit-burst 10
-I ufw-before-logging-forward -j LOG --log-prefix "[UFW AUDIT] " -m conntrack --ctstate NEW -m limit --limit 3/min --limit-burst 10
### END LOGGING ###

### RATE LIMITING ###
-A ufw-user-limit -m limit --limit 3/minute -j LOG --log-prefix "[UFW LIMIT BLOCK] "
-A ufw-user-limit -j REJECT
-A ufw-user-limit-accept -j ACCEPT
### END RATE LIMITING ###
COMMIT
